/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build-stamp
/config.*
/config/
/configure
/debian/files
/debian/vyatta-vrf.debhelper.log
/debian/vyatta-vrf.substvars
/debian/vyatta-vrf/
*~
